textarea {
	resize: none;
}

.header {
	padding: 5px;
	margin-bottom: 25px;
	height: 76px;
}

.header .university-logo {
  width: 330px;
  position: relative;
  top: 10px;
}

.header .coaptar-logo {
  width: 210px;
}

.content {
	clear: both;
}

.footer {
	background-color: #337ab7;
	height: 72px;
	margin-top: 30px;
	padding: 6px 18px 0 0;
	border-radius: 5px;
}

.footer img {
	width: 150px;
}

.errors li, .error {
	color: #8B0000;
	font-weight: bold;
	list-style-type: none;
}

.admin-color {
	background-color: #000 !important;
}

.required {
	background-image:url('/images/required.png');
	background-position:top right;
	background-repeat:no-repeat;
	padding-right:20px;
}

.sidebar-menu {
	margin-top: 20px;
}

.sidebar-menu a {
	cursor: default;
}

#graph {
	width: 680px;
	height: 520px;
	margin: 0 auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 6px double #337ab7;
}

#graph-container {
	width: 670px;
	height: 480px;
}

select optgroup {
	color: white;
}

.circle {
	border-radius: 50%;
	width: 15px;
	height: 15px; 
	float: left;
}

.green {
	background: #008000;
}

.maroon {
	background: #800000;
}

.orange {
	background: #FFA500;
}

.blue-main {
	background: rgb(2,6,48);
}

.blue-company {
	background: rgb(61,77,243);
}

.blue-contact {
	background: rgb(12,24,151);
}

.margin-spacer {
	margin: 0 5px;
}