.header {
	padding: 5px;
	margin-bottom: 25px;
	height: 76px;
}

.content {
	clear: both;
}

.footer {
	background-color: #337ab7;
	height: 78px;
	margin-top: 30px;
	padding: 6px 18px 0 0;
	border-radius: 10px;
}